<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan and Print
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col
      class="ion-align-items-center ion-justify-content-center ion-text-center"
    >
      <ion-input
        style="color: blue"
        type="text"
        [(ngModel)]="scanResult"
        (keypress)="inputChange($event)"
        #inputRef
      ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button (click)="allInOnePrinting(scanResult)">
        ALL IN ONE PRINT
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="permissionPrint()">
        PERMISSION PRINT
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="connectPrint()">
        CONNECT PRINT
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="print()">PRINT</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="printQr()">PRINT QR</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="status()">
        STATUS
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
