<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan and Print
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size="12">
      {{responseDebug}}
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col class="ion-align-items-center ion-justify-content-center ion-text-center">
      <ion-input style="color: blue;" type="text" [(ngModel)]="scanResult" (keypress)="inputChange($event)" #inputRef></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button (click)="allInOnePrinting(scanResult)">
        ALL IN ONE PRINT
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="permissionPrint()">
        PERMISSION PRINT
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="connectPrint()">
        CONNECT PRINT
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="print()">PRINT</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="printQr()">PRINT QR</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="printImageDOM()">
        PRINT IMAGE DOM
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="status()">
        STATUS
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="preview()">
        preview
      </ion-button>
    </ion-col>
  </ion-row>
  <div>
    <ion-row class="ion-text-center">
      <ion-col>
        <img [src]="previewImage" />
      </ion-col>
    </ion-row>
  </div>
  <!-- boarding pass ka JJ -->
  <!-- <div style="width: 600px;background-color: white;padding-left: 20px;" id="itLayout">
    <ion-row style="height: 192px;padding-left: 82px;">
      <ion-col class="ion-text-center ">
        <ion-row>
          <ion-col style="font-size: 23px;">
            kode booking / booking code
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-size: 70px;">
            <b>ABCDEFG</b>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="ion-text-left ion-align-self-center" >
        <img
          src="assets/kai.png"
          alt="logo"
          width="65"
          
          

        />
      </ion-col>
    </ion-row>
    <ion-row style="transform: rotate(90deg); padding-left: 50px;" >
      <ion-col>
        <ion-row style="width: 1000px;">
          <ion-col>
            <ion-row>
              <ion-col style="font-size: 23px;">
                nama / name
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 34px;">
                <b>ROBY IBRAHIM RENATA VICTOR INDRA ABDULLAH THOMAS KURNIAWAN</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row style="width: 950px;">
          <ion-col style="width: 400px;">
            <ion-row>
              <ion-col style="font-size: 23px;">
                nomor identitas / id number
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 30px;">
                <b><i>36XXX</i></b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 23px;">
                kereta api / train
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 30px;">
                <b><i>ARGO WILIS / 1</i></b>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col style="font-size: 23px;">
                berangkat / departure
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 30px;">
                <b
                  ><i>BANDUNG(BD)<br />SENIN, 09 MAR 20; 13:50 WIB</i></b
                >
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="font-size: 15px;">
                  check in at VM001BD 09 MAR 20 12:00
                </ion-col>
              </ion-row>
          </ion-col>


          <ion-col>
            <ion-row>
              <ion-col style="font-size: 23px;">
                tipe penumpang / pax type
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 30px;">
                <b><i>DEWASA</i></b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 23px;">
                no tempat duduk / seat number
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 30px;">
                <b><i>LUX-1; 2B</i></b>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col style="font-size: 23px;">
                perkiraan tiba / eta
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 30px;">
                <b
                  ><i>SURABAYA PASARTURI(SBI)<br />SELASA, 10 MAR 20; 00:50 WITA</i></b
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 550px;" *ngIf="show">
      <ion-col>
        [nomor tiket]
        <pdf417barcode [text]="asd?.aa" [opts]="{ pxw: 5, pxh: 5}"></pdf417barcode>
      </ion-col>
    </ion-row>
  </div> -->

  <!-- boarding pass ka Lokal -->
  <!-- <div style="width: 600px;background-color: white;padding-left: 30px;font-size: 27px;font-weight: 600;" id="itLayout">
    <ion-row >
      <ion-col >
        BANDUNG RAYA EKONOMI (555)
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col size="6">
        NAMA
      </ion-col>
      <ion-col class="ion-text-center ion-text-left" size="6">
        : THOMAS NUGROHO
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col size="6">
        ID
      </ion-col>
      <ion-col class="ion-text-center ion-text-left" size="6">
        : 3671042507960000
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col size="6">
        SEMARANG TAWANG
      </ion-col>
      <ion-col class="ion-text-center ion-text-left" size="6">
        : 10:00 WIB
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col size="6">
        SOLO BALAPAN
      </ion-col>
      <ion-col class="ion-text-center ion-text-left" size="6">
        : 11:00 WIB
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col size="6">
        TANGGAL
      </ion-col>
      <ion-col class="ion-text-center ion-text-left" size="6">
        : 31 MARET 2020
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col size="6">
        NO. TEMPAT DUDUK
      </ion-col>
      <ion-col class="ion-text-center ion-text-left" size="6">
        : EKO-1; 4D
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <pdf417barcode
        [text]="'TYTYDSKUY'"
        [opts]="{ pxw: 4, pxh: 4}"
      ></pdf417barcode>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" style="font-size: 35px;">
       <b>03YK0020055389 | DWL3WIY</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" style="font-size: 37px;">
       <b>RP 8.000,-</b>
      </ion-col>
    </ion-row>
    <ion-row style="font-size: 22px;">
      <ion-col size="12" class="ion-text-center">
        JASONJAPURTA VMOO1BD | 2020-03-31 09:00
      </ion-col>
    </ion-row>
    
  </div> -->

  <!-- Bukti Batal Tiket -->
  <!-- <div style="width: 600px; background-color: white; padding-left: 20px; " id="itLayout">
    <ion-row style="height: 130px; padding-left: 82px;">
      <ion-col class="ion-text-center">
        <ion-row>
          <ion-col style="font-size: 23px;">
            kode booking / booking code
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-size: 65px;">
            <b>ABCDEFG</b>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="ion-text-left ion-align-self-center">
        <img src="assets/kai.png" alt="logo" width="50" />
      </ion-col>
    </ion-row>

    <div style="transform: rotate(90deg); padding-left: 20px;">
      <ion-row style="width: 1510px; background-color: white;">
        <ion-col style="font-size: 34px;" size="7">
          <b>BUKTI TRANSAKSI PEMBATALAN</b>
        </ion-col>
        <ion-col style="font-size: 34px;" size="5">
          <b>PENUMPANG YANG DIBATALKAN</b>
        </ion-col>
      </ion-row>
      <ion-row style="width: 1510px; background-color: white;">
        <ion-col size="4" style="background-color: white;">
          <ion-row>
            <ion-col style="font-size: 23px;">
              nomor pembatalan / cancellation number
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b><i>36XXX</i></b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              tanggal pengembalian / refund date
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>02 APR 2020</b>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 23px;">
              jumlah penumpang / total passenger
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>2</b>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 23px;">
              kereta api / train
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>MALABAR (100)</b>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 23px;">
              nama rekening / account name
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>UDIN</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              no. rek. / account number & nama bank
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>11223344 / BCA</b>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="3" style="background-color: white;">
          <ion-row>
            <ion-col style="font-size: 23px;">
              tipe pengembalian / refund type
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>TRANSFER</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              jumlah tarif / amount total
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>Rp 100.000</b>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 23px;">
              bea pembatalan / cancellation fee
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              <b>Rp 25.000</b>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 23px;">
              jumlah pengembalian / refund total
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 37px;">
              <b>Rp 75.000</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <pdf417barcode [text]="'aasd'" [opts]="{ pxw: 3, pxh: 3}"></pdf417barcode>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 15px;">
              <b>VM001BD | 13-MAR-20 | 15:00</b>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="5" style="background-color: white;">
         
          <ion-row>
            <ion-col style="font-size: 25px;">
              <b>Nama</b>
            </ion-col>
            <ion-col style="font-size: 25px;">
              <b>Nomor Identitas</b>
            </ion-col>
            <ion-col style="font-size: 25px;">
              <b>Tempat Duduk</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 23px;">
              Thomas Nugroho
            </ion-col>
            <ion-col style="font-size: 23px;">
              36XXX
            </ion-col>
            <ion-col style="font-size: 23px;">
              EKS-5 / 17A
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div> -->

  <!-- Tanda Bukti Tiket (Ubah Jadwal) -->
  <div style="width: 600px; background-color: white; padding-left: 20px; height: 1010px;" id="itLayout">
    <div style="transform: rotate(90deg); padding-left: 20px;">
      <ion-row style="width: 990px;">
        <ion-col>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <img src="assets/kai2.png" alt="logo" width="145" />
            </ion-col>
            <ion-col style="font-size: 34px;">
              <b>TANDA BUKTI TIKET</b>
            </ion-col>
            <ion-col class="ion-text-right">
              <pdf417barcode [text]="'aasd'" [opts]="{ pxw: 3, pxh: 3}"></pdf417barcode>
              [nomor tiket]
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col style="font-size: 23px;">
                  nama / name
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b>ROBY IBRAHIM RENATA</b>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <ion-col style="font-size: 23px;">
                  kode booking / booking code
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b>ABCDEFG</b>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row style="width: 990px;">
            <ion-col>
              <ion-row>
                <ion-col style="font-size: 23px;">
                  nomor identitas / id number
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b><i>36XXX</i></b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 23px;">
                  kereta api / train
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b><i>ARGO WILIS / 1</i></b>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="font-size: 23px;">
                  berangkat / departure
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b
                    ><i>BANDUNG(BD)<br />SENIN, 09 MAR 20; 13:50</i></b
                  >
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col>
              <ion-row>
                <ion-col style="font-size: 23px;">
                  tipe penumpang / pax type
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b><i>DEWASA</i></b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 23px;">
                  no tempat duduk / seat number
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b><i>LUX-1; 2B</i></b>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="font-size: 23px;">
                  tiba / arrival
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b
                    ><i>SURABAYA PASARTURI(SBI)<br />SELASA, 10 MAR 20; 00:50</i></b
                  >
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="5/2">
              <ion-row>
                <ion-col style="font-size: 23px;">
                  tarif / price
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b>Rp 9.100.000</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 23px;">
                  total
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 30px;">
                  <b>Rp 9.100.000</b>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
